body{
	background-color: black;
	font-family: 'Lobster', cursive;
	font-size: 30px;
}

.test{
	color: white;
}

.nav a {
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

#menu {
  background: #202024 url('../media/black-thread.png') repeat left top;
  left: -285px;   /*start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

#menu-opener {
  position: relative;
}

.jumbotron{
  	background-color: black;
}

.icon-menu i {
  margin-right: 5px;
}

a:hover{
	color: green;
}
